.welcome{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        margin-top: 52%;
        font-size: 5rem;
        font-family: "Sansita", serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        width: 100%;
    
    
        span{
            font-family: "Dancing Script", serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      position: relative;
        }
    }
    
    #crown{
        position: absolute;
        top: -30%;
        left: 0;
        font-size: 3rem;
        transform: rotateZ(-7deg);
        color: rgb(243, 195, 74);
    }

    
button{
   width: 5rem;
   height: 2rem;
   border: none;
   border-radius: .5rem;
   background-color: pink;
   color: var(--pinkbg-color);
   font-size: 1.25rem;
   font-family: "Sansita", serif;
   font-weight: 700;
   font-style: normal;
   display: flex;
   justify-content: center;
   align-self: center;
   margin-top: auto;
   margin-bottom: 1rem;
}

}

@media only screen and (min-width: 320px) and (max-width: 480px){
     .welcome{
        h1{
            font-size: 3.5rem;
            margin-top: 65%;
        }

        #crown{
           font-size: 2rem;
        }
     }
}