.hero {
  width: 95%;
  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
  position: relative;
  animation: open .75s ease-in;
  margin-top: 300rem;
  overflow-x: hidden;

  .home-box {
    border: 2px dashed var(--pinkbg-color);
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      font-family: "Sansita", serif;
      font-weight: 700;
      font-style: normal;
    }
    span {
      font-family: "Dancing Script", serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
      font-size: 1.75rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      row-gap: .5rem;
      column-gap: .5rem;

      img{
        width: 7rem;
        height: 7rem;
        border-radius: .5rem;
      }

      .bigimg{
        width: 15rem;
        height: 15rem;
      }

      .bigbigimg{
        width: 40rem;
        height: 40rem;
        margin-left: 50%;
        transform: translateX(-50%);
      }

      .quiz{
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: .5rem;
        background-color: rgba(255, 192, 203, 0.478);
        border-radius: 1rem;

        p{
          font-family: "Sansita", serif;
          font-weight: 400;
          font-style: normal;
        }

        button{
          width: 5rem;
          height: 2rem;
          border: none;
          border-radius: .5rem;
          background-color: pink;
          color: var(--pinkbg-color);
          font-size: 1.25rem;
          font-family: "Sansita", serif;
          font-weight: 700;
          font-style: normal;
          display: flex;
          justify-content: center;
          align-self: center;
        }
      }

      .valentinereveal{
        width: 100%;
        background-color: rgba(255, 192, 203, 0.478);
        border-radius: 1rem;
        padding: 1rem;

        p{
          font-family: "Sansita", serif;
          font-weight: 400;
          font-style: normal;
        }

        button{
          width: 5rem;
          height: 2rem;
          border: none;
          border-radius: .5rem;
          background-color: pink;
          color: var(--pinkbg-color);
          font-size: 1.25rem;
          font-family: "Sansita", serif;
          font-weight: 700;
          font-style: normal;
          display: flex;
          justify-content: center;
          align-self: center;
          margin-top: .5rem;
        }
      }

      .angry-meme{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 35rem;
        background-color: rgba(255, 192, 203, 0.478);
        row-gap: 1rem;
        border-radius: 1rem;

        h3{
          font-family: "Sansita", serif;
  font-weight: 400;
  font-style: normal;
        }

        img{
          width: 10rem;
          height: 10rem;
        }
      }
    }
  }

  #bow {
    position: absolute;
    top: -3rem;
    right: -3rem;
    font-size: 10rem;
    transform: rotateZ(25deg);
    color: pink;
  }
}


@keyframes open {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

          
          
@media only screen and (min-width: 320px) and (max-width: 480px){
   .home{
    width: 98%;
    margin-top: 12rem;
    margin-left: 50%;
    transform: translateX(-50%);

    #bow{
      font-size: 4rem;
      right: 0;
      top: 0;
    }

    .home-box{

    
      h1{
        font-size: 1.5rem;
      }
      span{
        font-size: 1rem;
        flex-wrap: wrap;

        
      img{
        width: 4rem;
        height: 4rem;
      }

      .bigimg{
        width: 10rem;
        height: 10rem;
      }

      .bigbigimg{
        width: 100%;
        height: 25rem;
      }

      }
    }
   }
}